body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f5f5f5;
    color:#222;
}

.hero{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:90px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
    font-weight:bold;
    letter-spacing:3px;
}

.hero p{
    font-size:24px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:16px 30px;
    border-radius:8px;
    font-size:20px;
    font-weight:bold;
}

.btn:hover{
    background:#1fa855;
}

section{
    max-width:1100px;
    margin:auto;
    padding:60px 20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    text-align:center;
    font-size:22px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
}

footer a{
    color:#25D366;
}
.empresa{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:50px;
    padding:70px 20px;
}

.empresa-img{
    flex:1;
}

.empresa-img img{
    width:100%;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.empresa-texto{
    flex:1;
}

.empresa-texto h2{
    color:#0d47a1;
    font-size:38px;
    margin-bottom:20px;
}

.empresa-texto p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:20px;
}

@media(max-width:900px){

.empresa{
flex-direction:column;
}

}
